extends ../layout

block content
	body
		#main
			#sidebar
				h2 SideBar
				#navcontainer
					ul
						li: a(href='/garage') Garage Home
						li: a(href='/settings/garage') Garage Settings
						li: a(href='/log/garage') Garage Log
				text#connection
				<br/>Current time is 
				text#date
				<br/>Arduino Connected: 
				text#Arduino
			#content
				h2 #{title}
				div.Alerts
					h3 Alert Settings
					h4
						input(type="checkbox", name="alerts", id="alerts")
						| Alerts 
						text#enabled
						</br>
						|Run Every 
						input(type="number", name="notify_time", id="notify_time", maxlength="6", size="6")
						&nbsp;
						|Send alert every X minutes </br>
						|Notify for: 
						input(type="checkbox", name="triggerAlerts", id="triggerAlerts")
						| Trigger Alerts
						input(type="checkbox", name="doorStateAlerts", id="doorStateAlerts")
						| Door State Alerts
				div.ArduinoSettings
					h3 Arduino Settings
					h4
						input(type="checkbox", name="arduino", id="arduino")
						| Arduino 
						text#arduinoEnabled
						</br>
						|Arduino IP 
						input(type="text", name="arduinoIP", id="arduinoIP", maxlength="15", size="16")
						</br>
						|Arduino Port 
						input(type="number", name="arduinoPort", id="arduinoPort", maxlength="6", size="6")
						</br>
						|AccessKey: 
						text#arduinoAccessKey
				div.MyQ
					h3 MyQ Settings
					h4
						input(type="checkbox", name="myQ", id="myQ")
						| MyQ 
						text#myQEnabled
						</br>
	
					
					script(src='/socket.io/socket.io.js')
					script(src='http://code.jquery.com/jquery-latest.min.js ')
					script.
						var socket = io();
						var allPage;
						console.log(document.URL);
						if (document.URL == 'http://pfeilsplace.com/settings/garage'){
							socket = io.connect('http://pfeilsplace.com/settings/garage');
							allPage = io.connect('http://pfeilsplace.com');
						}
						else if (document.URL == 'http://localhost:3001/settings/garage'){
							socket = io.connect('http://localhost:3001/settings/garage');
							allPage = io.connect('http://localhost:3001');
						}
						
						//RECEIVE DATA
						allPage.on('date', function(data){
							$('#date').text(data.date);
						});
						allPage.on('Arduino', function(data){
							$('#Arduino').text(data.Arduino);
						});
						socket.on('Alerts', function(data){
							if (data.Alerts == true){
								$('#alerts').prop('checked', true);
								$('#enabled').text('Enabled');
							}
							else if (data.Alerts == false){
								$('#alerts').prop('checked', false);
								$('#enabled').text('Disabled');
							}
						});
						socket.on('notify_time', function(data){
							$('#notify_time').val(data.notify_time);
						});
						socket.on('triggerAlerts', function(data){
							if (data.triggerAlerts == true){
								$('#triggerAlerts').prop('checked', true);
							}
							else if (data.triggerAlerts == false){
								$('#triggerAlerts').prop('checked', false);
							}
						});
						socket.on('doorStateAlerts', function(data){
							if (data.doorStateAlerts == true){
								$('#doorStateAlerts').prop('checked', true);
							}
							else if (data.doorStateAlerts == false){
								$('#doorStateAlerts').prop('checked', false);
							}
						});
						socket.on('arduinoEnabled', function(data){
							if (data.arduinoEnabled == true){
								$('#arduino').prop('checked', true);
								$('#arduinoEnabled').text('Enabled');
							}
							else if (data.arduinoEnabled == false){
								$('#arduino').prop('checked', false);
								$('#arduinoEnabled').text('Disabled');
							}
						});
						socket.on('arduinoIP', function(data){
							$('#arduinoIP').val(data.arduinoIP);
						});
						socket.on('arduinoPort', function(data){
							$('#arduinoPort').val(data.arduinoPort);
						});
						socket.on('arduinoAccessKey', function(data){
							$('#arduinoAccessKey').text(data.arduinoAccessKey);
						});
						socket.on('myQ', function(data){
							if (data.myQ == true){
								$('#myQ').prop('checked', true);
								$('#myQEnabled').text('Enabled');
							}
							else if (data.myQ == false){
								$('#myQ').prop('checked', false);
								$('#myQEnabled').text('Disabled');
							}
						});
						
						//SEND DATA
						$(document).ready(function(){
							$('#alerts').change(function() {
								if(this.checked) {
									console.log("event");
									socket.emit('alerts', {alerts: 'On'});
									$('#enabled').text('Enabled');
								}
								else{
									console.log("Another event");
									socket.emit('alerts', {alerts: 'Off'});
									$('#enabled').text('Disabled');
								}
							});
							$("#notify_time").focus(function() {
								//console.log('in the text box');
							}).blur(function() {
								socket.emit('notify_time', {notify_time:$('#notify_time').val()});
							});
							$('#triggerAlerts').change(function() {
								if(this.checked) {
									socket.emit('triggerAlerts', {triggerAlerts: 'On'});
								}
								else{
									socket.emit('triggerAlerts', {triggerAlerts: 'Off'});
								}
							});
							$('#doorStateAlerts').change(function() {
								if(this.checked) {
									socket.emit('doorStateAlerts', {doorStateAlerts: 'On'});
								}
								else{
									socket.emit('doorStateAlerts', {doorStateAlerts: 'Off'});
								}
							});
							$('#arduino').change(function() {
								if(this.checked) {
									console.log("Arduino enabled");
									socket.emit('arduino', {arduino: 'On'});
									$('#arduinoEnabled').text('Enabled');
								}
								else{
									console.log("Arduino disabled");
									socket.emit('arduino', {arduino: 'Off'});
									$('#arduinoEnabled').text('Disabled');
								}
							});
							$('#arduinoIP').on('input',function(){
								//socket.emit('arduinoIP', {arduinoIP:$('#arduinoIP').val()});
							}).blur(function() {
								socket.emit('arduinoIP', {arduinoIP:$('#arduinoIP').val()});
							});
							$('#arduinoPort').on('input',function(){
								//socket.emit('arduinoPort', {arduinoPort:$('#arduinoPort').val()});
							}).blur(function() {
								socket.emit('arduinoPort', {arduinoPort:$('#arduinoPort').val()});
							});
							
							$('#myQ').change(function() {
								if(this.checked) {
									console.log("myQ enabled");
									socket.emit('myQ', {myQ: 'On'});
									$('#myQEnabled').text('Enabled');
								}
								else{
									console.log("myQ disabled");
									socket.emit('myQ', {myQ: 'Off'});
									$('#myQEnabled').text('Disabled');
								}
							});
				
							socket.on('connect', function() {
								$('#connection').text('Server: Connected');
							});
							socket.on('disconnect', function() {
								$('#connection').text('Server: Disconnected');
							});
						});
